.text-desc {
  font-family: "Playfair Display", serif;   
  text-transform: uppercase;
  animation: pulseGlow 4s ease-in-out infinite alternate;
  font-size: 20px;
  text-align: center;
}

.desc1 {
  margin-top: 1rem;
  font-family: "Playfair Display", serif;
  opacity: 0.85;
  max-width: 700px;
  font-size: 20px;
}

.image-logo1{
  width: 300px;
  height: 300px;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.sub-text-desc{
  display: flex;
  margin-top: 10px;
}

.container-desc{
  margin-top: 20px;
}

