.text-desc {
  font-family: "Playfair Display", serif;   
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(255,255,255,0.3);
  animation: pulseGlow 4s ease-in-out infinite alternate;
  font-size: 20px;
  text-align: center;
}

.desc1 {
  margin-top: 1rem;
  font-family: "Playfair Display", serif;
  opacity: 0.85;
  max-width: 500px;
  font-size: 20px;
}

.desc1:hover{
  text-shadow: 1px 0px 0px rgba(250, 174, 133, 0.6);
}

.image-logo1{
  width: 500px;
  height: 500px;
  margin-left: 50px;
}

.sub-text-desc{
  display: flex;
  margin-top: 10px;
}

.container-desc{
  margin-top: 20px;
}