.aboutContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    /*por el momento con fondo*/
    flex: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aboutTitle {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}
.image1 {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: #333 3px 3px 10px;
    margin-bottom: 10px;
}

.maintextContainer {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dialogue1Container {
    margin-top: 30px;
    align-items: center;
}

.dialogues{
    display: flex;
    gap: 2rem;              /* espacio entre columnas */
    align-items: flex-start;
}

.aboutCard {
    flex: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}