
.page {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    background: #ffffff;
}

.page {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: radial-gradient(circle at 20% 50%, rgba(0,255,200,0.4), transparent 60%),
                radial-gradient(circle at 80% 50%, rgba(0,150,255,0.3), transparent 60%);
    animation: auroraMove 12s infinite alternate ease-in-out;
    filter: blur(50px);
}

@keyframes auroraMove {
    0% {
        transform: translateX(-50px) translateY(-30px);
    }
    100% {
        transform: translateX(50px) translateY(30px);
    }
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgb(101, 158, 211);
    padding: 40px;
    border-radius: 20px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1.5s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 1.8;
}

.star {
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    opacity: 0.6;
    pointer-events: none;
    filter: drop-shadow(0 0 6px rgb(0, 0, 0));
}

.shootingStar {
    position: absolute;
    width: 2px;
    height: 120px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(255,255,255,0));
    border-radius: 50%;
    opacity: 0;
    transform: rotate(45deg);
    pointer-events: none;
}

.registerbtn{
 display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 300px; 
  background-color: antiquewhite;
}