.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.only-text{
  background: rgba(25, 26, 26, 0.4);
  backdrop-filter: blur(18px);
  border-radius: 25px;
  padding: 50px 70px;
  text-align: center;
  color: #EAF6F6;
  box-shadow: 0 8px 25px rgba(102, 101, 101, 0.3);
}

.only-text:hover{
  background: rgba(21, 29, 34, 0.4);
  transform: scale(1.02);
}

.main-text {
  
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 4px;
  color: #FFFFFF;

}

.sub-text {
  font-size: 1.2rem;
  color: #EAF6F6;
  margin-bottom: 25px;
}

/* soft aura pulse */
@keyframes pulseGlow {
  0% {
    text-shadow: 0 0 15px rgba(255,255,255,0.5);
  }
  100% {
    text-shadow: 0 0 35px rgba(255,255,255,0.9);
  }
}


.button-contained {
  background-color: rgba(0, 63, 92, 0.8);
  color: #EAF6F6;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
  margin-top: 20px;
}

.button-contained:hover {
  background-color: rgba(0, 63, 92, 1);
  transform: scale(1.05);
}


.button-contained {
  min-width: 200px;
  text-align: center;
}

.social-media{
  position: absolute;
  bottom: 10px;
}

.social-icon1{
  margin-left: 10px;
}

.social-icon1:hover{
  margin-top: -4px;
  filter: blur(0.7px);
}


.social-icon2{
  margin-left: 10px;
}

.social-icon2:hover{
  margin-top: -4px;
  filter: blur(0.7px);
}
.social-icon3{
  margin-left: 10px;
}

.social-icon3:hover{
  margin-top: -4px;
  filter: blur(0.7px);
}

@media (max-width: 700px) {
  .Typography{
    color: #506b78;
  }
}