@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



.playfair-display-textos {
  font-family: "mejor_para_headers";
  font-optical-sizing: auto;
  font-weight: 40px;
  font-style: normal;
}

.formData {
  display: grid;
  justify-content: center; 
  align-items: center;   
  height: 100vh; 
}


.text{
  font-family:'mejor_para_headers', serif;
  text-align: center;
  font-size: -webkit-xxx-large;
}


.formLogin {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  background-color: rgba(90, 91, 91, 0.4); /* fondo transparente */

  padding: 40px; /* aumenta el tamaño hacia adentro */
  width: 100%;   /* ocupa todo el ancho */
  height: 400px; /* o el tamaño que quieras */
  border-radius: 50px;
}


.textfield{
background-color: aqua;
}