.formData {
  display: grid;
  justify-content: center; 
  align-items: center;   
  height: 100vh; 
}

.text{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  text-decoration: underline;
}

