@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body, *{
    
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #3c3936;
  /*background-color: #f4eee5 ;*/

}