@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at 15% 20%, #B3FFF9 0%, #4DD6D6 40%, #007C91 90%);
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
}
