@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  background-color: #f1eae0;
}