.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", sans-serif;
  overflow: hidden;
}

.notfound-container h1 {
  font-size: 10rem;
  margin: 0;
  letter-spacing: -5px;
}

.notfound-container p {
  font-size: 1.5rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.notfound-container button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: #007c8c;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.notfound-container button:hover {
  background: #00acc1;
  transform: scale(1.05);
}

.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  bottom: -50px;
  animation: float 6s infinite ease-in-out;
}

.image-logo-error{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid rgb(110, 110, 110);
}